In [1]:
import os
import pandas as pd
from pathlib import Path
from collections import defaultdict

In [2]:
DATASET_PATH = Path(os.path.abspath('')).parent / 'dataset'
RAW_PATH = DATASET_PATH / 'raw'
SPLITTED_PATH = DATASET_PATH / 'splitted'
DT_COL = 'event_time'
CHUNKSIZE = 1000000

In [3]:
dfs = []
for f in os.listdir(RAW_PATH):
    if f.startswith('sample'):
        continue
    else:
        df = pd.read_csv(RAW_PATH / f, parse_dates=[DT_COL])
        df['date'] = df['event_time'].dt.date
        dfs.append(df)
df = pd.concat(dfs)
result = df.groupby(['date', 'event_type', 'category_code']).agg(Count=("price", "count")).reset_index()

In [10]:
result = df.groupby(['date', 'brand']).agg(Count=("price", "count")).reset_index()

In [12]:
result

              date               brand  Count
0       2019-10-01              a-case    233
1       2019-10-01             a-derma      2
2       2019-10-01             a-elita      6
3       2019-10-01              a-mega     32
4       2019-10-01            aardwolf      2
...            ...                 ...    ...
171551  2019-11-30              zvezda      5
171552  2019-11-30               zwerg      2
171553  2019-11-30            zwilling      2
171554  2019-11-30  zwillingjahenckels     30
171555  2019-11-30               zyxel      8

[171556 rows x 3 columns]